*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: lightgrey;
}

.header-main {
    text-align: center;
    font-size: 4em;
}

.elevation {
    background: white;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5px;
    background: rgb(rgb(175, 211, 202));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
    border: 2px solid black;
}

